.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin: auto;
    /* Additional styles */
    /* You can adjust the styles as needed */
}
 
h1{
    text-align: center;
}